<!DOCTYPE html>
<html lang="fr">
<head>
    <!--
        Projet : Mon Site Web E-Commerce
        Auteur : Julien Larzul
        Description : Fichier HTML de notre site E-Commerce avec des commentaires détaillés.
        Date de création : 26/11/2023
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="/ProjetPHP/php-e-boutique/ECommerce/public/css/bootstrap/bootstrap.min.css">
    <!--link CSS-->
    <link rel="stylesheet" href="/ProjetPHP/php-e-boutique/ECommerce/public/css/style.css">
    <link rel="stylesheet" href="/ProjetPHP/php-e-boutique/ECommerce/public/css/politique_confidentialite.css">

    <!--link JS-->
    <script src="/ProjetPHP/php-e-boutique/ECommerce/public/js/scripts.js"></script>
    <script src="/ProjetPHP/php-e-boutique/ECommerce/public/js/jquery/jquery.min.js"></script>
    <script src="/ProjetPHP/php-e-boutique/ECommerce/public/js/bootstrap/bootstrap.min.js"></script>

    <!-- Icônes Favicon -->
    <link rel="icon" href="/ProjetPHP/php-e-boutique/ECommerce/public/image/favicon.ico" type="image/x-icon">

    <!--ADD Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <title>Boutique Française</title>

</head>
<body>
<!-- En-tête du site -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <!--
        Projet : Mon Site Web E-Commerce
        Auteur : Julien Larzul
        Description : Fichier HTML de notre site E-Commerce avec des commentaires détaillés.
        Date de création : 26/11/2023
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="/ProjetPHP/php-e-boutique/ECommerce/public/css/bootstrap/bootstrap.min.css">
    <!--link CSS-->
    <link rel="stylesheet" href="/ProjetPHP/php-e-boutique/ECommerce/public/css/style.css">
    <link rel="stylesheet" href="/ProjetPHP/php-e-boutique/ECommerce/public/css/politique_confidentialite.css">


    <!-- Icônes Favicon -->
    <link rel="icon" href="/ProjetPHP/php-e-boutique/ECommerce/public/image/favicon.ico" type="image/x-icon">

    <!--ADD Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <title>Boutique Française</title>
</head>
<body>
<!-- En-tête du site -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
        <div class="container container-header d-flex justify-content-between">
            <!-- Logo au milieu -->
            <div class="logo text-center">
                <a href="http://localhost/projetPHP/php-e-boutique/ECommerce/public/?page=index"><img
                            src="/ProjetPHP/php-e-boutique/ECommerce/public/image/logo-web-transparent.png"
                            id="logo-principal"></a>
            </div>

            <!-- Contenu de la barre de navigation -->
            <div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active">
                            <a class="nav-link link-custom-navbar"
                               href="http://localhost/projetPHP/php-e-boutique/ECommerce/public/?page=boissons">Boissons</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link link-custom-navbar"
                               href="http://localhost/projetPHP/php-e-boutique/ECommerce/public/?page=biscuits">Biscuits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-custom-navbar"
                               href="http://localhost/projetPHP/php-e-boutique/ECommerce/public/?page=fruitssec">Fruits
                                sec</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-custom-navbar"
                               href="http://localhost/projetPHP/php-e-boutique/ECommerce/public/?page=magasins">nos
                                magasins</a>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link link-custom-navbar">|</span>
                        </li>
                        <li class="nav-item">
                            {% if username == null %}
                                <a class="nav-link link-custom-navbar-icon"
                                   href="http://localhost/projetPHP/php-e-boutique/ECommerce/public/?page=compte"></a>
                            {% else %}
                                <a class="nav-link link-custom-navbar-icon"
                                   href="http://localhost/projetPHP/php-e-boutique/ECommerce/public/?page=deconnexion"></a>
                            {% endif %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-person-circle svg-icon" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                <path fill-rule="evenodd"
                                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                            </svg>


                        </li>

                        {% if isAdmin %}
                            <li class="nav-item">
                                <a class="nav-link link-custom-navbar"
                                   href="http://localhost/projetPHP/php-e-boutique/ECommerce/public/?page=admin">Admin
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link link-custom-navbar-icon"
                                   href="http://localhost/projetPHP/php-e-boutique/ECommerce/public/?page=panier">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                    </svg>
                                    <span id="panier-counter">{{ quantiteDansPanier }}</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- Section principale -->
<main>
    <section>
        <div class="rectangle-politique">
            <h1 class="text-politique">Payement</h1>
        </div>
    </section>
    <div class="container">
        <section class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="d-flex justify-content-center">
                    <div class="flex-column d-flex align-items-end">
                        <div class="rectangle-compte d-flex flex-column">
                            <span class="connexion-contact">Finalisation de votre commande</span>
                            {% set total = 0 %}
                            {% for produit in produits %}
                                <div class="d-flex flex-row product-item">
                                    <img src="/ProjetPHP/php-e-boutique/ECommerce/public/image/productimages/{{ produit.image }}"
                                         class="img-produits-recap">
                                    <p class="style-text-panier separation">{{ produit.name }}</p>
                                    <p class="style-text-panier-prix product-price">
                                        €{{ produit.price * produit.nombre_occurrences }}</p>
                                </div>
                                {% set total = total + (produit.price * produit.nombre_occurrences) %}
                            {% endfor %}
                            {% if produits is not empty %}
                                <div class="d-flex justify-content-end align-items-end flex-column">
                                    <p class="total-text">Total: €{{ total }}</p>
                                </div>
                            {% endif %}
                            <div class="d-flex justify-content-center align-items-center flex-column button-paypal">
                                <a href="http://localhost/ProjetPHP/php-e-boutique/ECommerce/app/Model/supprimerPanier.php?total={{ total }}&payment_type=paypal"
                                   class="lien-produits orga-produits-detail">
                                    <button class="Btn">
                                        Paypal
                                        <svg class="svgIcon" viewBox="0 0 576 512">
                                            <path d="M512 80c8.8 0 16 7.2 16 16v32H48V96c0-8.8 7.2-16 16-16H512zm16 144V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V224H528zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm56 304c-13.3 0-24 10.7-24 24s10.7 24 24 24h48c13.3 0 24-10.7 24-24s-10.7-24-24-24H120zm128 0c-13.3 0-24 10.7-24 24s10.7 24 24 24H360c13.3 0 24-10.7 24-24s-10.7-24-24-24H248z"></path>
                                        </svg>
                                    </button>
                                </a>
                            </div>
                            <div class="d-flex justify-content-center align-items-center flex-column button-paypal">
                                <a href="http://localhost/ProjetPHP/php-e-boutique/ECommerce/app/Model/supprimerPanier.php?total={{ total }}&payment_type=cheque"
                                   class="lien-produits orga-produits-detail">
                                    <button class="Btn">Chèque
                                        <svg class="svgIcon" viewBox="0 0 576 512">
                                            <path d="M512 80c8.8 0 16 7.2 16 16v32H48V96c0-8.8 7.2-16 16-16H512zm16 144V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V224H528zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm56 304c-13.3 0-24 10.7-24 24s10.7 24 24 24h48c13.3 0 24-10.7 24-24s-10.7-24-24-24H120zm128 0c-13.3 0-24 10.7-24 24s10.7 24 24 24H360c13.3 0 24-10.7 24-24s-10.7-24-24-24H248z"></path>
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-start">
                <div class="flex-column d-flex align-items-end">
                    <div class="rectangle-compte d-flex justify-content-start align-items-start flex-column">
                        <span class="connexion-contact">Votre adresse de livraison</span>

                        <label for="country" class="user-password-contact">Adresses<span
                                    class="asterix"> *</span></label>
                        <div class="input-container">
                            <select class="input" name="country" id="country">
                                <option>---</option>
                                {% if customerInfo %}
                                    <option value="currentAddress">
                                        {{ customerInfo.add1 }}, {{ customerInfo.postcode }}, {{ customerInfo.add3 }}
                                    </option>
                                {% else %}
                                    <option value="currentAddress">Adresse actuelle</option>
                                {% endif %}
                                <option value="usa">Nouvelle Adresse</option>
                            </select>
                        </div>
                        <form action="http://localhost/ProjetPHP/php-e-boutique/ECommerce/app/Model/traitementAdresse.php"
                              method="POST">
                            <span class="user-password-contact">Adresse</span>
                            <div class="input-container">
                                <input class="input" name="address" type="search" placeholder="Adresse">
                            </div>
                            <span class="user-password-contact">Code postal<span class="asterix"> *</span></span>
                            <div class="input-container">
                                <input class="input" name="postalCode" type="search" placeholder="Code postal">
                            </div>
                            <span class="user-password-contact">Ville<span class="asterix"> *</span></span>
                            <div class="input-container">
                                <input class="input" name="city" type="search" placeholder="Ville">
                            </div>
                            <div class="input-container">
                                <input type="hidden" name="customerId" value="{{ customerInfo.id }}">
                            </div>
                            <button type="submit" id="bouton-connexion">VALIDER</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="d-flex justify-content-center">
        <img src="/ProjetPHP/php-e-boutique/ECommerce/public/image/colombe.png" id="colombe">
    </div>
</main>

<!-- Pied de page -->
<footer class="py-3 footer-custom" style="background-color: #f8f6f1;">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div>
            <p class="footer-text">Larzul Julien - Revendeur depuis 1987</p>
        </div>
        <div>
            <p class="footer-text"><a class="nav-link-footer"
                                      href="http://localhost/projetPHP/php-e-boutique/ECommerce/public/?page=conditions_generales">Conditions
                    générales de ventes</a> | <a
                        class="nav-link-footer"
                        href="http://localhost/projetPHP/php-e-boutique/ECommerce/public/?page=politique_confidentialite">Politique
                    de confidentialité</a> - &copy; 2023 Boutique
                Française</p>
        </div>
    </div>
</footer>
<!--Bootstrap-->
<script>
    console.log('Script chargé');
    document.addEventListener('DOMContentLoaded', function () {
        console.log('DOM entièrement chargé et analysé');
        document.getElementById('country').addEventListener('change', function () {
            var currentAddress = '{{ customerInfo.add1 }}';
            var currentPostalCode = '{{ customerInfo.postcode }}';
            var currentCity = '{{ customerInfo.add3 }}';
            console.log(currentAddress, currentPostalCode, currentCity);
            var addressInput = document.querySelector('input[name="address"]');
            var postalCodeInput = document.querySelector('input[name="postalCode"]');
            var cityInput = document.querySelector('input[name="city"]');

            if (this.value === 'currentAddress') {
                addressInput.value = currentAddress;
                postalCodeInput.value = currentPostalCode;
                cityInput.value = currentCity;
            } else {
                addressInput.value = '';
                postalCodeInput.value = '';
                cityInput.value = '';
            }
        });
    });
    window.addEventListener('load', function () {
        const urlParams = new URLSearchParams(window.location.search);
        const addressUpdated = urlParams.get('addressUpdated');
        if (addressUpdated === 'true') {
            alert('Votre adresse a bien été enregistrée.');
        }
    });
</script>
<script src="/ProjetPHP/php-e-boutique/ECommerce/public/js/jquery/jquery.min.js"></script>
<script src="/ProjetPHP/php-e-boutique/ECommerce/public/js/bootstrap/bootstrap.min.js"></script>
<!--End of Bootstrap-->
</body>
</html>
